.search-box {
	border: none;
	outline: none;
	padding: 10px;
	width: 20rem;
	line-height: 30px;
	margin-bottom: 30px;
	border-radius: 0.5rem;
	transition: all 0.3s;
	font-size: 1.8rem;
	color: #0074b6;

	&:focus {
		width: 25rem;
	}
}
